@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,700,800);

/*---------------- FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS ---------------*/



@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900italic,700italic,900,700,500italic,500,400italic,300italic,300,100italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext);

/*----------------------------------------------------------------------------------------
										COMMON STYLES
-----------------------------------------------------------------------------------------*/

body {
	font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #444;
	line-height: 1.8;
}

a,
a:hover {
	color: #444;
	text-decoration: none;
}

h1 {
	font-size: 80px;
	font-weight: 800;
}

h2 {
	font-size: 50px;
	font-weight: 800;
}

h3 {
	font-size: 40px;
	font-weight: 100;
}

h4 {
	font-size: 30px;
	font-weight: 100;
}

h1,
h2,
h3,
h4 {
	color: #222;
	text-transform:none;
}

ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}

#wrap { overflow: hidden; }

section {
	padding: 140px 0;
	position: relative;
	background: #fff;
	z-index:2;
}

.form-group input,
.input-group input,
.form-group textarea { color: #222; }

.input-group input:focus,
.form-group input:focus,
.form-group textarea:focus {
	box-shadow: none;
	transition: none;
	border: 0;
	outline: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus { outline: 0px auto -webkit-focus-ring-color; }


.placeholdersjs { color: #aaa !important; }




/*----------------------------------------------------------------------------------------
									MODAL POPUP STYLES
----------------------------------------------------------------------------------------*/
.modal {
	overflow-y: auto;
	text-align: center;
}

.modal-content {
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}

.modal-title { margin:0; }

.modal-title > i{
	font-size: 48px;
	padding: 0 0 40px 0;
	display: block;
	color:#ccc;
}

.modal-open { overflow: auto; }

.modal-content .close {
	position: absolute;
	top: 10px;
	right: 15px;
}

.close {
	font-family: inherit;
	font-size: 32px;
	font-weight: 100;
	text-shadow: none;
}




/*----------------------------------------------------------------------------------------
									OWL SLIDER STYLES
----------------------------------------------------------------------------------------*/

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item { float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div { cursor: pointer; }

.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grabbing { cursor: url(../images/grabbing.png) 8 8, move; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}

.owl-pagination {
	text-align: center;
	position: absolute;
	bottom: -140px;
	width: 100%;
	display: table;
}

.owl-pagination .owl-page {
	height: 40px;
	line-height: 40px;
	display: table-cell;
	margin-left: 0;
	cursor: pointer;
	position: relative;
}

.owl-pagination .owl-page span {
	width: 100%;
	height: 4px;
	display: block;
	background: #ccc;
	position: absolute;
	bottom: 0;
}

.owl-pagination .owl-page.active span { background: #444; }


/*----------------------------------------------------------------------------------------
										HEADER
----------------------------------------------------------------------------------------*/

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	margin-top: 50px;
}

.logo { float: left; }

.soc_nav {
	float: right;
	margin-bottom: 0;
}

.soc_nav li {
	margin-left: 10px;
	list-style: none;
	display: inline-block;
}

.soc_nav li:first-child { margin-left: 0; }

.soc_nav li a {
	font-size: 20px;
	line-height: 40px;
	display: block;
	text-align: center;
	transition: all 0.15s ease-in-out;
	color: rgba( 255,255,255,0.8);
	height: 40px;
	width: 40px;
	border-radius: 20px;
}

.soc_nav li a:hover { color: rgba( 255,255,255,1); }

.soc_nav li a.icon-social-dribbble { background: #d72d9d; }

.soc_nav li a.icon-social-facebook { background: #4066b5; }

.soc_nav li a.icon-social-twitter { background: #00d2ff; }

a.login_btn {
	display: block;
	float: right;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 20px;
	height: 40px;
	line-height: 37px;
	margin-left: 20px;
	color: #fff;
	padding: 0 30px;
	transition: all 0.15s ease-in-out;
}

a.login_btn:hover { border: 1px solid rgba(255,255,255,1); }





/*----------------------------------------------------------------------------------------
										INTRO
----------------------------------------------------------------------------------------*/

#intro {
	position: relative;
	width: 100%;
	top: 0;
	display: block;
	z-index: 1;
	overflow: hidden;
	background: #000000;
	padding: 0;
	margin: 0;
	color: #FFF;
}

#intro .container {
	margin: 150px auto 170px auto;
	position: relative;
	z-index: 1;
}

#intro #slides {
	position: fixed !important;
	top: 0;
	opacity: 0.5;
	z-index: 0;
}

#intro .slogan { margin: 0 20px 0 0; position:relative; }

#intro .slogan h2 {
	font-size: 80px;
	color: #FFF;
	margin: 0;
}

#intro .slogan h3 {
	font-size: 40px;
	padding: 0;
	margin: 0;
	color: #FFF;
}

#intro .slogan p {
	margin: 60px 0 0 0;
	opacity: 0.9;
}


#intro form .title {
	padding: 20px;
	font-size: 25px;
	text-transform: uppercase;
	background: #bc1a1b;
	line-height: 1;
}

.form-control {
	border-radius: 0;
	border: 0;
	height: auto;
	padding: 20px;
	font-size: 16px;
	box-shadow: none;
	line-height: 20px;
	margin:0;
	box-shadow:none;
}

#intro .form-control {
	border-bottom:1px solid #eee;
}

.form-group {
	margin: 0px;
	position:relative;
}

#intro .btn_start {
	width: 100%;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #666666;
	border: 0;
	border-radius: 0;
	padding: 20px 0;
}


#intro form label.error {
	font-size: 13px;
	font-weight:normal;
	color:#cd6161;
	position:absolute;
	z-index:10;
	right:0;
	top:0;
	line-height:20px;
	padding:10px 10px 0 0;
	width:100px;
	text-align:right;
}

#intro form input.error,
#intro form textarea.error{
	border-bottom:1px solid #e6a3a3 !important;
}
#intro form input.valid,
#intro form textarea.valid{
	border-bottom:1px solid #aee05f;
}

.margin-top{margin-top:10px !important}



/*----------------------------------------------------------------------------------------
									RESPONSIVE STYLES
----------------------------------------------------------------------------------------*/

@media (max-width: 992px) {

section { padding: 80px 0; }

.owl-pagination { bottom: -80px; }

}
@media (max-width: 767px) {

body { text-align: center; }

#intro .slogan { margin: 0; }

#intro .container { margin: 170px 0 100px 0; }

#intro .slogan p { margin: 60px 0; }

ul.triangle_list li {
	margin-left: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

ul.triangle_list li:before { display: none; }
}
@media (max-width: 400px) {

header { margin-top: 20px; }

#intro .container { margin: 120px 0 100px 0; }
}





/*----------------------------------------------------------------------------------------
									RETINA STYLES
----------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

header .logo img { content: url("../images/logo@2x.png"); }


.panel .panel-heading:before,
.panel .collapsed.panel-heading:before {
	background-image: url(../images/cross@2x.png);
	background-size:20px 20px;
}
}
