﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Mainpage.Master" AutoEventWireup="true"
    CodeBehind="Category.aspx.cs" Inherits="Facility_Audit.Category" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            return ret;
        }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="col-md-11">
        <div id="crumbs">
            <ul>
                <li class="active"><a href="#">Category</a></li>
                <li id="linewbtn" runat="server"><a>
                    <asp:LinkButton ID="bNew" OnClick="bNew_Click" runat="server">New</asp:LinkButton></a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class=" col-md-5 col-xs-offset-4 alert alert-big alert-danger alert-dismissable fade in margin-top-10"
            runat="server" id="divmsg" visible="false">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                ×</button>
            <asp:Label runat="server" ID="lblError"></asp:Label>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="tile">             
                     
                    <asp:Panel ID="pnlnew" runat="server">
                       <div class="tile-body nobottompadding">
                          <div class="row form-horizontal">
                             <div class="col-md-12">
                                 <form id="basicvalidations" parsley-validate="" role="form" class="form-horizontal">
                                     <div class="form-group">
                                             <label class="col-sm-2 control-label" for="">Category <span class="red-text">*</span> : </label>
                                        <div class="col-sm-4">
                                             <asp:TextBox ID="txtcatname"  runat="server" parsley-validation-minlength="1" parsley-type="email" parsley-minlength="4" parsley-required="true" parsley-trigger="change" class="form-control parsley-validated" kl_virtual_keyboard_secure_input="on" > </asp:TextBox>
                                        </div>
                                        <label class="col-sm-2 control-label" for="">No Of Months <span class="red-text">*</span> : </label>
                                        <div class="col-sm-4">
                                             <asp:TextBox ID="txtnoofMonths" onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;"  runat="server" parsley-validation-minlength="1" parsley-type="email" parsley-minlength="4" parsley-required="true" parsley-trigger="change" class="form-control parsley-validated" kl_virtual_keyboard_secure_input="on" > </asp:TextBox>
                                        </div>
                                     </div>
                                 </form>
                             </div>
                          </div>
                       </div>
       
           	           <div class="tile-footer color cyan text-muted">
                           <div class="row">
                              <div class="col-md-5">
                                 <div class="col-md-offset-5">
                                    <asp:Button ID="btnsave" class="btn btn-primary" runat="server" Text="Save" onclick="btnsave_Click" />
                                    <asp:Button ID="btncncl" class="btn btn-default" runat="server" Text="Cancel" onclick="btncncl_Click" />
                                 </div>
                              </div>
                           </div>
                       </div>
                    </asp:Panel>

                    <div class="row">
                       <div class="col-md-12">
                          <div class="tile-body nopadding margin-top-10">
                              <div class="table-responsive" id="divrep" runat="server" >
                                 <asp:Repeater ID="rptrcat"  DataSourceID="" runat="server" 
                                     onitemcommand="rptrcat_ItemCommand"  >
                                     <HeaderTemplate>
                                        <table width="100%" border="0" cellspacing="0" class="table table-bordered" cellpadding="0">
                                          <tbody>
                                          <tr class="color green">
                                                <th width="5%">Sl.No</th>                                            
                                               
                                               <th>Category Name</th>
                                               
                                               <th> Option</th>
                                             </tr>                    
                                     </HeaderTemplate>

                                     <ItemTemplate>
                                             <tr id="rid">
                                                   <asp:HiddenField ID="hidcompanyid" runat="server" Value='<%# Eval("categoryid") %>' />
                                               <td>
                                                   <asp:Label ID="Label2" runat="server" Text='<%#(((RepeaterItem)Container).ItemIndex+1).ToString() %>' />
                                               </td>                                    
                                          
                                               
                                               <td>
                                                   <asp:Label ID="lblcmpshrtname" runat="server" Text='<%# Eval("categoryname") %>' />
                                               </td>

                                               <td class="actions text-center">
                                                   <asp:LinkButton ID="lnkEdit" runat="server" CommandName="Edit" class="btn btn-primary" Text="Edit" CommandArgument='<%# Eval("categoryid") %>'></asp:LinkButton>
                                                <%--   <asp:LinkButton ID="lnkDelete" runat="server" class="btn btn-danger" meta:resourcekey="BtnUserDeleteResource1"
                                                       OnClientClick="if ( !confirm('Are you sure you want to delete this user?')) return false;"   CommandName="Delete" Text="Delete" CommandArgument='<%# Eval("categoryid") %>'></asp:LinkButton>--%>
                                               </td>
                                             </tr>
                                     </ItemTemplate>

                                     <FooterTemplate>
                                       </table>
                                     </FooterTemplate>
                                 </asp:Repeater>
                              </div>
                          </div>
                       </div>
                    </div>
              </section>
            </div>
        </div>
    </div>
</asp:Content>
