﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Mainpage.master.cs" Inherits="Facility_Audit.Mainpage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>iFazig - Facility Audit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="AppThemes/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="App_Themes/css/bootstrap.min.css" rel="stylesheet" />
    <link href="App_Themes/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="App_Themes/css/animate.min.css" />
    <link rel="stylesheet" href="App_Themes/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="App_Themes/css/chosen.min.css" />
    <link rel="stylesheet" href="App_Themes/css/chosen-bootstrap.css" />
    <link rel="stylesheet" href="App_Themes/css/ColVis.css" />
    <link rel="stylesheet" href="App_Themes/css/TableTools.css" />
    <link href="App_Themes/css/minoral.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="AppThemes/scripts/FusionCharts.js" type="text/javascript"></script>
    <script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="brownish-scheme">
    <form id="Form1" if="form1" runat="server">
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <!-- Branding -->
                <div class="navbar-header col-md-2">
                    <a class="navbar-brand" href="#">
                        <img src="AppThemes/images/ifazilit-audit.png" />
                    </a>
                    <div class="sidebar-collapse">
                        <a href="#"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
                <!-- Branding end -->
                <!-- .nav-collapse -->
                <div class="navbar-collapse">
                    <!-- Content collapsing at 768px to sidebar -->
                    <div class="collapsing-content">
                        <!-- Search -->
                        <!-- Search -->
                        <!-- Search end -->
                        <!-- User Controls -->
                        <div class="user-controls">
                            <ul>
                                <li><strong>
                                    <asp:Label Style="color: White;" ID="lblusername" runat="server"></asp:Label></strong>
                                </li>
                                <li></li>
                                <li></li>
                                <li class="settings">
                                    <asp:LinkButton ID="lnklogout" runat="server" href="Logout.aspx" class="fa fa-2x fa-sign-out"></asp:LinkButton>
                                </li>
                            </ul>
                        </div>
                        <!-- User Controls end -->
                        <div class="search" id="selectbox">
                            <asp:DropDownList ID="ddlcompany" Visible="false" runat="server" AutoPostBack="True"
                                parsley-validation-minlength="1" parsley-type="email" parsley-minlength="4" parsley-required="true"
                                parsley-trigger="change" OnSelectedIndexChanged="ddlcompany_SelectedIndexChanged"
                                class="form-control" kl_virtual_keyboard_secure_input="on">
                            </asp:DropDownList>
                        </div>
                        <div class="search" runat="server" visible="true" id="Div1">
                            <asp:DropDownList ID="ddlgrp" Visible="false" runat="server" AutoPostBack="True"
                                OnSelectedIndexChanged="ddlgrp_SelectedIndexChanged" class="chosen-select form-control">
                            </asp:DropDownList>
                        </div>
                    </div>
                    <!-- /Content collapsing at 768px to sidebar -->
                    <!-- Sidebar -->
                    <ul class="nav navbar-nav side-nav" id="navigation">
                        <li class="collapsed-content">
                            <!-- Collapsed content pasting here at 768px -->
                        </li>
                        <li class="user-status">
                            <div>
                                <asp:Image ID="imgBanner" ImageUrl="App_Themes/images/image_dusters_small.png" runat="server" />
                            </div>
                        </li>
                        <asp:Literal ID="ltrlMenu" runat="server"></asp:Literal>
                    </ul>
                    <!-- Sidebar end -->
                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- Fixed navbar end -->
            <!-- Page content -->
            <div id="content" class="col-md-12">
                <!-- submenu -->
                <!-- /submenu -->
                <!-- content main container -->
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!-- /content container -->
        </div>
        <!-- Page content end -->
    </div>
    <footer class="footer">
    <div class="container">      


          <p class="container">
        <table  class="text-muted" width="100%" style="font-size:15px;">
        <tr  style="width:100%">
        <td align="center" style="width:90%">
        Copyright <label id="curnyear"></label> by i2i Softwares Pvt Ltd.,
        </td>
        <td  style="width:10%">
         Version : <asp:Literal ID="llvno" runat="server"></asp:Literal>
        </td>
        </tr>
        </table>
        </p>
    </div>
</footer>
    <!-- Make page fluid-->
    <!-- Wrap all page content end -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&amp;skin=sons-of-obsidian"
        type="text/javascript"></script>
    <%--  <script src="js/plugins/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="js/plugins/blockui/jquery.blockUI.js" type="text/javascript"></script>
    <script src="js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>--%>
    <script src="js/plugins/chosen/chosen.jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {

            var d = new Date();
            document.getElementById("curnyear").innerHTML = d.getFullYear();

            //chosen select input
            $(".chosen-select").chosen({ disable_search_threshold: 10 });

        })
      
    </script>
    <script src="js/minoral.min.js" type="text/javascript"></script>
    </form>
</body>
</html>
